# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/helloworld/helloworld.pro.user
src/build-helloworld-Qt_5_3_0_MSVC2013_32bit-Debug/*
src/build-helloworld-Qt_5_3_0_MSVC2013_32bit-Release/*